.button {
	margin-top: 10px;
	margin-bottom: 10px
}

.list-group-item {
	border-color: #b8a3f5;
	background-color: #efebf9;
	margin-bottom: 20px !important;
	border-radius: 5px;
}

a.username {
    color: #00aced
}

a.tag {
    color: #0084b4
}

 